@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="background-image:none;background-color: rgb(33,36,41);">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>